.imageForm{
    background-color: antiquewhite;
    display:flex;
    margin-bottom: 50px;
    
}

.currentSquare{
    background-color: lavender;
    width:30em;
    display: grid;
    justify-content: center;
}

.submitForm{

}

.upload-button{
    width:35vw;
    height:auto;
}

.image-upload>input {
    display: none;
  }

.submit-t{
    margin: 3vh 0vw;
    float: left;
}

.submit-parent{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    

}
.current-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    width:40vw;
    height:60vh;
    background-color: lightgrey;
    border-radius: 10px;
    color:black;
}

.inner-cur-images{
    width:15vw;
    margin: 1vh 2vw;
}

/* #2.inner-cur-images{
    grid-column: 1 / span 2;
    width:20vw;
    height: 30vh;
    background-color: aquamarine;
} */

.cur-images-button{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius:4px;
    width: 15vw;
    padding: 0.5em 1em;

}

.displayed-image{
    width:15vw;
    height:20vh;
}