

.myQuilt-parent{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr ;
    grid-template-rows:1fr 1fr;
    grid-column-gap:5%;
    grid-row-gap:5%;
    align-content: center;
    justify-content: space-around;
    width:90%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5%;
}
.personal-square{
    display:grid;
   justify-items: center;
   align-items: center;
    grid-column-start: 1 ;
    grid-row-start: 1;
    grid-row-end:-1;
    background-color: lightgrey;

}

.myquilt-square{
    width:100px;   
}
.display-header{
    margin-top: 8%;
    margin-bottom:8%;
    
}
.id-info{
    height:auto;
    width:auto;
    background-color: lightgrey;
    border-radius: 15px;
    color:black;
    min-height: 40vh;
    line-height: 250%;
    padding-left: 5%;

}

.myquilt-square-title{
    font-size: 2.5em;
}

.help-faq{
    height:auto;
    width:auto;
    background-color: lightgrey;
    border-radius: 15px;

}
.approved-images{
    background-color: lightgrey;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2 / span 2;
    align-content: center;
    justify-content: space-evenly;
}

.submit-edit-button-e{
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    border-radius:4px;
    width: 10vw;
    padding: 0.5em 3em;
    margin-left: 1em;
}

.submit-edit-button-s{
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    border-radius:4px;
    width: 8vw;
    padding: 0.5em 1em;
}

.submitlink{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-items: center;
    align-items: center;
}

.image_approve{
    width:250px;
    height:250px;
    margin-left: 20px;
}

.helpheader-myquilt {
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 204, 245);
    box-shadow: 1em;
    padding: 2% 2%;
}
.help-square-myq{
    margin:2vh 2vw ;
}

.help-faq-myq{
    background-color: lightgrey;
    border-radius: 15px;
}