

.myQuilt-parent{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr ;
    grid-template-rows:1fr 1fr;
    grid-column-gap:5%;
    grid-row-gap:5%;
    align-content: center;
    justify-content: space-around;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.personal-square{
    display:grid;
    justify-items: center;
    grid-column-start: 1    ;
    grid-row-start: 1;
    grid-row-end:-1;
    background-color: lightgrey;

}
.id-info{
    height:auto;
    width:auto;
    background-color: lightgrey;
    border-radius: 15px;
    color:black;
    min-height: 40vh;
    


}

.help-faq{
    height:auto;
    width:auto;
    background-color: lightgrey;
    border-radius: 15px;

}
.approved-images{
    background-color: lightgrey;
    border-radius: 15px;
    grid-column: 2 / span 2;
}

.submit-edit-button-e{
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    border-radius:4px;
    width: 10vw;
    padding: 0.5em 3em;
    margin-left: 1em;
}

.submit-edit-button-s{
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    border-radius:4px;
    width: 8vw;
    padding: 0.5em 1em;
}

.submitlink{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-items: center;
    align-items: center;
}
