.footer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    column-gap: 10vw;
    background-color:rgba(255,255,255,0.9);
    color:white;
    align-self: end;
    height:40vh;

}

.text-container-l{
    width:30%;
    height:auto;
    color:black;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 1em 2em;
    
}

.text-container-r{
    width:25%;
    height:auto;
    color:black;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 1em 2em;
    
}



.footer-title{
    margin-bottom:1.5em;
}