.footer{
    display:flex;
    flex-direction:row;
    background-color:rgba(0,0,0,0.3);
    color:white;
    align-self: end;
    height:30vh;

}

.text-container{
    width:50%;
    height:auto;
    background-color: lightgrey;
    border-radius: 10px;
    
}

.landing-title{
    color:white;
    text-shadow: 2px 1px black;
    text-align: center;
    font-size:2em;  
}