.help-page{
    text-decoration: underline;
    color:navy;   
}

.Link::after{
    content:"\a";
}

.helplinks{
    display:flex;
    flex-direction: column;
    background-color: bisque;
    box-shadow: 1em;

}

.helpheader {
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 204, 245);
    box-shadow: 1em;
    padding: 2% 2%;
}

.help-square {
    /* background-color:green  ; 
    background-repeat:repeat;
    background:radial-gradient(circle, black, white); */
    /* background-color: #2e294e; */
    /* background-image: radial-gradient(#ffd400 6px, transparent 6px); */
    background-size: 80px 80px;
    color: rgb(73, 73, 73);
    height: 350px;
    width: 350px;
    margin: 0.5em 0.5em 0.5em 0.5em;
    background-color: lightgrey;
    border-radius: 15px;
    color: black;
    
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: start;
    /* justify-items: center;
    align-items: center;
    /* display: flexbox; */
    /* flex-wrap: wrap;
    justify-content: space-around; */
}

.help-grid{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 3fr;
    justify-content: space-around;
}
